<canvas-template>
  <background color="#000000"/>
  <text x="50%" y="calc(50% - 60px)" font='28px "Segoe UI Variable", "Segoe UI", sans-serif' 
        color="#ffffff" align="center">Working on updates</text>
  <text x="50%" y="calc(50% - 20px)" font='18px "Segoe UI Variable", "Segoe UI", sans-serif' 
        color="#cccccc" align="center">{{percentComplete}}% complete</text>
  <text x="50%" y="calc(50% + 20px)" font='18px "Segoe UI Variable", "Segoe UI", sans-serif' 
        color="#cccccc" align="center">Please keep your computer on.</text>
</canvas-template>

