<canvas-template>
  <background color="#0078D4"/>
  <text x="80px" y="calc(80px + 180px + 30px)" font='32px "Segoe UI", sans-serif' 
        color="#fff" align="left">Your PC ran into a problem and needs to restart.</text>
  <text x="80px" y="calc(80px + 180px + 75px)" font='28px "Segoe UI", sans-serif' 
        color="#fff" align="left">For more information about this issue</text>
  <text x="80px" y="calc(80px + 180px + 115px)" font='28px "Segoe UI", sans-serif' 
        color="#fff" align="left">We're just collecting some error info, and then we'll restart for you.</text>
  <text x="80px" y="calc(80px + 180px + 160px)" font='28px "Segoe UI", sans-serif' 
        color="#fff" align="left">www.windows.com/stopcode</text>
  <text x="80px" y="calc(80px + 180px + 205px)" font='26px "Segoe UI", sans-serif' 
        color="#fff" align="left">{{percentComplete}}% complete</text>
  <text x="80px" y="calc(80px + 180px + 250px)" font='22px "Segoe UI", sans-serif' 
        color="#fff" align="left">If you'd like to know more, you can search online later for this error:</text>
  <text x="80px" y="calc(80px + 180px + 290px)" font='bold 22px "Segoe UI", sans-serif' 
        color="#fff" align="left">CRITICAL_PROCESS_DIED</text>
  <text x="80px" y="calc(80px + 180px + 330px)" font='22px "Segoe UI", sans-serif' 
        color="#fff" align="left">Stop code: 0x000000EF</text>
</canvas-template>

