<canvas-template>
  <background color="#0078D7"/>
  <text x="calc(50% - 500px)" y="calc(50% - 200px)" font='300 24px "Segoe UI", "Segoe UI Light", "Segoe UI Semilight", sans-serif' 
        color="#fff" align="left">Your PC ran into a problem and needs to restart. We're just collecting some error info, and then we'll restart for you.</text>
  <text x="calc(50% - 500px)" y="calc(50% - 120px)" font='300 24px "Segoe UI", "Segoe UI Light", "Segoe UI Semilight", sans-serif' 
        color="#fff" align="left">{{percentComplete}}% complete</text>
</canvas-template>

