<canvas-template>
  <background color="#0000AA"/>
  <text x="30px" y="30px" font='bold 16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">A problem has been detected and Windows has been shut down</text>
  <text x="30px" y="48px" font='bold 16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">to prevent damage to your computer.</text>
  <text x="30px" y="84px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">The problem seems to be caused by the following file: ntoskrnl.exe</text>
  <text x="30px" y="120px" font='bold 16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">STOP: 0x000000D1 (0x00000000, 0x00000002, 0x00000000, 0xF8A0B2C4)</text>
  <text x="30px" y="138px" font='bold 16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">DRIVER_IRQL_NOT_LESS_OR_EQUAL</text>
  <text x="30px" y="174px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">If this is the first time you've seen this Stop error screen,</text>
  <text x="30px" y="192px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">restart your computer. If this screen appears again, follow</text>
  <text x="30px" y="210px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">these steps:</text>
  <text x="30px" y="246px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">Check to make sure any new hardware or software is properly installed.</text>
  <text x="30px" y="264px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">If this is a new installation, ask your hardware or software manufacturer</text>
  <text x="30px" y="282px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">for any Windows updates you might need.</text>
  <text x="30px" y="318px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">If problems continue, disable or remove any newly installed hardware</text>
  <text x="30px" y="336px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">or software. Disable BIOS memory options such as caching or shadowing.</text>
  <text x="30px" y="372px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">If you need to use Safe Mode to remove or disable components, restart</text>
  <text x="30px" y="390px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">your computer, press F8 to select Advanced Startup Options, and then</text>
  <text x="30px" y="408px" font='16px "Courier New", "Lucida Console", monospace' 
        color="#fff" align="left">select Safe Mode.</text>
</canvas-template>

