<canvas-template>
  <background color="#0079d7"/>
  <text x="50%" y="calc(40% + 30px)" font='28px "Segoe UI Variable", "Segoe UI", sans-serif' 
        color="#fff" align="center">Working on updates {{percentComplete}}% complete.</text>
  <text x="50%" y="calc(40% + 70px)" font='28px "Segoe UI Variable", "Segoe UI", sans-serif' 
        color="#fff" align="center">Don't turn off your PC. This will take a while.</text>
  <text x="50%" y="90%" font='24px "Segoe UI Variable", "Segoe UI", sans-serif' 
        color="#fff" align="center">Your PC may restart several times</text>
</canvas-template>

