<canvas-template>
  <background color="#1a1a1a"/>
  <text x="40px" y="50px" font='bold 14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">panic(cpu 0 caller 0xffffff80002d3a5a): Kernel trap at 0x0000000000000000, type 14=page fault</text>
  <text x="40px" y="90px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">Backtrace (CPU 0), Frame : Return Address</text>
  <text x="60px" y="110px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">0xffffff8012345678 : 0xffffff80002d3a5a</text>
  <text x="60px" y="130px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">0xffffff8012345680 : 0xffffff80002d3a5a</text>
  <text x="60px" y="150px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">0xffffff8012345688 : 0xffffff80002d3a5a</text>
  <text x="60px" y="170px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">0xffffff8012345690 : 0xffffff80002d3a5a</text>
  <text x="40px" y="220px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">BSD process name corresponding to current thread: kernel_task</text>
  <text x="40px" y="240px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">Mac OS version:</text>
  <text x="60px" y="260px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">Not yet set</text>
  <text x="40px" y="280px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">Kernel version:</text>
  <text x="60px" y="300px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">Darwin Kernel Version 22.1.0: Mon Oct 24 20:28:05 PDT 2022; root:xnu-8792.41.9~2/RELEASE_ARM64_T6000</text>
  <text x="40px" y="320px" font='14px "Monaco", "Menlo", "Courier New", monospace' 
        color="#fff" align="left">System model name: MacBookPro18,1</text>
</canvas-template>

